.container{
    display: flex;
    align-items: center;
}

.container span {
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.select {
    margin-right: 2rem;
    font-size: 1.5rem;
}