.header {
  background-color: #dbe2ef;
  padding: 3rem 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.count {
  margin-left: 2rem;
  background-color: #112d4e;
  color: #f9f7f7;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
